.row
  #childhood
    .outer
      .inner.col.s12.vertical-align.center-align
        h1 {{vm.dynamicText}}  
        .circle
      .col.s12
        .slide
          .s-spacer
          p Como todo, la distribución ya dependerá del objetivo que se quiere mostrar en el storytelling. Y no existe solo una forma de hacer las cosas.

        .slide
          .s-spacer
          p Es posible que para resolver una animación utilices simplemente CSS3 o bibliotecas como AnimateCSS, pero para otras requieras manipulación con JQuery, D3, o directivas de Angular para condicionar que aparezcan y desaparezcan algunos elementos.

        .slide
          .s-spacer
          p Igualmente, puedes tener que agregar zooms tanto a SVGs como simular zooms en imágenes.