.row
  #infancy.col.s6
    .outer
      .inner.vertical-align //Todo inner dentro de un outer se mantiene fijo
        h1 {{vm.dynamicText}}  
  .col.s6.m5.offset-m1
    .slide.vertical-align
      p Mientras vas haciendo scroll, elementos fijos dentro de outer e inner están visibles, es en estos espacios donde puedes incluir imágenes, gráficos, etc.

    .slide.vertical-align
      p Mientras estos elementos están siempre visibles, los textos laterales van cambiando, y junto con la ejecución de las animaciones propias para cada breakpoint, hacen todo más llamativo.

    .slide.vertical-align
      p Claro que los elementos fijos pueden estar a la izquierda, derecha, arriba o abajo.
