.container
  .row
    .col.s12.center-align
      h1 La sorprendente historia de una persona aún más sorprendente
      br
      h5 ¡Hey! ¿Estás listo? Vamos a utilizar todos los recursos que consideres para contar TU historia.
      
    childhood