.container
  .row
    .col.s12.center-align
      .m-spacer
      h1 La sorprendente historia de una persona aún más sorprendente
      br
      h5 ¡Hey! ¿Estás listo? Vamos a utilizar todos los recursos que consideres para contar TU historia.
      .m-spacer
      md-icon.grey-text.lighten-2 mouse
    infancy
    
    childhood

    .col.s10.offset-s1.center-align
      h4
        i Cuida siempre de no sobrecargar demasiado los recursos que tienes.
      .s-spacer
    
    adolescence

    .col.s8.offset-s2.center-align
      h3 OK
        br
        | Let's take a 
      h1.bold &lt;br&gt;