/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.flex {
  display: flex;
}

.s-spacer {
  height: 2em;
}

.m-spacer {
  height: 5em;
}

.l-spacer {
  height: 8em;
}

.xl-spacer {
  height: 50em;
}

.mr-b-0 {
  margin-bottom: 0;
}

.mr-t-0 {
  margin-top: 0;
}

.mr-l-0 {
  margin-left: 0;
}

.mr-r-0 {
  margin-right: 0;
}
.pd-l-5 {
  padding-left: 6px;
}

.pd-r-0 {
  padding-right: 0 !important;
}

.pd-l-0 {
  padding-left: 0 !important;
}

.pointer {
  cursor: pointer;
}

.full {
  width: 100%;
}

.full-height {
  height: 100vh;
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  -ms-flex-align: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.tiny {
  font-size: 0.8em;
}

.outer {
  min-height: 300vh;
}

.inner {
  height: 100vh !important;
}

.slide {
  height: 100vh;
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
